<meta charset="UTF-8">
<title>Puxar dados</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    
    body {
        padding-top:50px;
        background-color: grey;
        font-size: 25px;
    }
    h1 {
        text-align: center;
    }
    img {
        margin-left: 30%;
    }

    nav {
        text-align: center;
    }

    .barra {
        color: white;
        font-family: Arial;
        padding-right: 10px;
        border-radius: 15px;
        padding: 10px;
    }

    .lista {
        text-align: center;
        list-style-type: none;
        background-color: grey;
        border-radius: 10px;
        margin-right: 5px;
    }

    .rodape{
        text-align: center;
        color: white;
    }
</style>