<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <ul class="navbar-nav mr-auto"> -->
      <li class="lista">
        <a class="barra" href="/2kAugusto">Augusto</a>
      </li>
      <li class="lista">
        <a class="barra" href="/luis">Luis</a>
      </li>
      <li class="lista">
        <a class="barra" href="/marcelo">Marcelo</a>
      </li>
    <!-- </ul> -->
  </nav>